@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@500;600&display=swap');

:root {
  --main-color: #1A1A2E;
  --text-color: #E6E6E6;
  --accent-color: #0f3460;
  --link-active: #099344;
  --background-color: #16213E;
  --hover-color: #5352ed;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  font-family: 'Anek Kannada', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
  direction: ltr !important;
}

.wrapper {
  width: 350px;
  height: max-content;
  padding: 25px;
  display: flex;
  justify-content: center;

  .inner {
    height: 100%;
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;

    .header-allow {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      .domain {
        text-align: center;
        font-family: 'Anek Kannada', sans-serif;
        font-size: 20px;
        color: var(--text-color);
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .main_function {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .checkbox-wrapper-5 {
        text-align: center;

        h2 {
          color: var(--text-color);
          font-size: 24px;
          margin-bottom: 10px;
        }

        .text-content {
          color: var(--text-color);
          font-size: 18px;
          padding-bottom: 15px;
        }

        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
          margin-top: 10px;

          input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--hover-color);
            transition: 0.4s;
          }

          .slider:before {
            position: absolute;
            content: '';
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: 0.4s;
          }

          input:checked + .slider {
            background-color: var(--link-active);
          }

          input:focus + .slider {
            box-shadow: 0 0 1px var(--link-active);
          }

          input:checked + .slider:before {
            transform: translateX(26px);
          }

          .slider.round {
            border-radius: 34px;
          }

          .slider.round:before {
            border-radius: 50%;
          }
        }
      }

      .footer {
        padding-top: 20px;

        .cookies_count {
          display: flex;
          gap: 8px;
          align-items: center;
          color: var(--text-color);

          p, span {
            font-size: 14px;
          }
        }
      }
    }

    .pause-block {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      backdrop-filter: blur(10px);
      background-color: rgba(189, 189, 189, 0.3);
      padding: 5px;
      border-radius: 8px;
      gap: 8px;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        background-color: var(--hover-color);

        p {
          color: var(--main-color);
        }
      }

      .pause {
        width: 35px;
        height: 35px;
      }

      p {
        font-family: 'Anek Kannada', sans-serif;
        font-size: 16px;
        color: var(--text-color);
      }
    }
  }
}