@import url("https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@500;600&display=swap");
:root {
  --main-color: #0c415d;
  --text-color: #ffffff;
  --blue-color: #1598ce;
  --popup-text-color: #0f5da9;
  --background-color: #0c3e58;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body {
  font-family: "Anek Kannada", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
  direction: ltr !important;
}

.wrapper {
  width: 300px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5px;
}
.wrapper .inner {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--main-color)), to(var(--blue-color)));
  background: linear-gradient(180deg, var(--main-color) 0%, var(--blue-color) 100%);
  border-radius: 15px;
  padding: 15px;
}
.wrapper .inner .header-allow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .inner .header-allow .domain {
  text-align: center;
  font-family: system-ui, sans-serif;
  font-size: 18px;
  color: var(--text-color);
  text-decoration: underline;
  cursor: pointer;
}
.wrapper .inner .main_function {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .inner .main_function .checkbox-wrapper-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper .inner .main_function .checkbox-wrapper-5 .text-content {
  text-align: center;
  padding-bottom: 15px;
  font-size: 22px;
}
.wrapper .inner .main_function .checkbox-wrapper-5 .switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 54px;
}
.wrapper .inner .main_function .checkbox-wrapper-5 .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.wrapper .inner .main_function .checkbox-wrapper-5 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.wrapper .inner .main_function .checkbox-wrapper-5 .slider:before {
  position: absolute;
  content: "";
  height: 46px;
  width: 46px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.wrapper .inner .main_function .checkbox-wrapper-5 input:checked + .slider {
  background-color: #00FF00;
}
.wrapper .inner .main_function .checkbox-wrapper-5 input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #00FF00;
          box-shadow: 0 0 1px #00FF00;
}
.wrapper .inner .main_function .checkbox-wrapper-5 input:checked + .slider:before {
  -webkit-transform: translateX(66px);
  transform: translateX(66px);
}
.wrapper .inner .main_function .checkbox-wrapper-5 .slider.round {
  border-radius: 34px;
}
.wrapper .inner .main_function .checkbox-wrapper-5 .slider.round:before {
  border-radius: 50%;
}
.wrapper .inner .main_function .footer {
  padding-top: 20px;
}
.wrapper .inner .main_function .footer .cookies_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .inner .main_function .footer .cookies_count p {
  font-family: system-ui, sans-serif;
  font-size: 12px;
}
.wrapper .inner .main_function .footer .cookies_count span {
  font-family: system-ui, sans-serif;
  font-size: 15px;
}
.wrapper .inner .pause-block {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(189, 189, 189, 0.3);
  -webkit-animation: changeWidth 8s ease-in-out infinite;
          animation: changeWidth 8s ease-in-out infinite;
  padding: 5px;
  border-radius: 8px;
  gap: 8px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.wrapper .inner .pause-block:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.wrapper .inner .pause-block .pause {
  width: 35px;
  height: 35px;
}
.wrapper .inner .pause-block p {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  color: gray;
}